{% extends 'base.html.twig' %}

{% block title %}Herbiers - Claire Nguyen{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Relevés</h1>
    
    <div class="tableau">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Lieu</th>
                    <th>Relevé brut</th>
                    <th>Tableau</th>
                    <th>Visualisation</th>
                    <th>Modification</th>
                    <th>Suppression</th>
                </tr>
            </thead>

            <tbody>
                {% for releve in releves %}
                    <tr>
                        <td>{{ releve.date|date('d/m/Y') }}</td>
                        <td>{{ releve.lieu.nom }}</td>
                        <td>{{ releve.releveBrut }}</td>
                        <td>
                            <table class="table table-bordered">
                            {% set c = 0 %}
                            {% for u in 0..2 %}
                                <tr>
                                    {% for i in 0..2 %}
                                        {% if c <= 9 %}
                                            <td>{{ releve.releveBrut|split('/')[c]}}</td>
                                        {% endif %}
                                        {% set c = c + 1 %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </table>
                        </td>
                        <td>
                            <table class="visualisation">
                                {% set visualisation = releve.generateTable %}
                                {% for r in visualisation %}
                                 <tr>
                                {% for q in r %}
                                <td>
                                    <table class="petitTableau">
                                    {% for i in 0..2 %}
                                    <tr>
                                        {% for u in 0..2 %}
                                        <td {% if (i * 3 + u) in q %}class="herbe"{% endif %}></td>
                                        {% endfor %}
                                    </tr>
                                        {% endfor %}    
                                    </table>
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                        </td>
                        <td><a class="btn btn-outline-info" href="{{ path('app_releve_edit', {'id': releve.id}) }}">Modifier</a></td>
                        <td>{{ include('releve/_delete_form.html.twig') }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Aucun relevé trouvé</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="add-releve">
        <h2>Ajouter un relevé</h2>
        {{ include('releve/_form.html.twig') }}
    </div>

</div>
{% endblock %}